<form action="signup" method="POST">
    <input type="" name="name" id="" placeholder="Nombre">
    <input type="email" name="email" id="" placeholder="Insert email">
    <input type="password" name="password" id="" placeholder="Insert password">
    <input type="password" name="password" id="" placeholder="Confirm password">

    <button type="submit">Sign up</button>
</form>