<%- layout('layouts/mains.ejs')%>
    <% if (signinMessage) { %>
        <div>
            <%= signinMessage %>
        </div>
        <% } %>

            <form action="signin" method="POST">
                <input type="email" name="email" id="" placeholder="Insert email">
                <input type="password" name="password" id="" placeholder="Insert password">
                <button type="submit">Sign In</button>
            </form>